<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <nav class="navbar navbar-light  col-md-3">
    <ul class="nav navbar-nav left-buffer">
      <li *ngFor="let video of videos" class="nav-item">
        <a [routerLink]="['/view', video.title]"
           class="nav-link"
           routerLinkActive="active">
          {{video.title}}
        </a>
      </li>
    </ul>
  </nav>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
