<!DOCTYPE html>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">

    <div class="col-md-3" th:each="video : ${videos}">

      <div class="card">
        <div class="card-body">
          <img class="card-img-top" th:src="@{'https://img.youtube.com/vi/' + ${#strings.substring(video.url, 17)}} + '/0.jpg'" alt="Card image cap" width="100%" />
          <h3 class="card-title" th:text="${video.title}">Title</h3>
          <p class="card-text" th:text="${video.description}">Content</p>
          <a th:href="@{'/video/' + ${video.id}}" class="btn btn-primary">View video</a>
        </div>
      </div>

    </div>
  </div>
  <hr />
  <div class="text-center">
    <div class="col-md-6">
      <a class="btn btn-success" th:if="${hasPrev}" th:href="${prevPageRequest}">Prev</a>
    </div>

    <a class="btn btn-success" th:if="${hasNext}" th:href="${nextPageRequest}">Next</a>

  </div>
</div>
