<!DOCTYPE html>
<div class="navbar-default sidebar" role="navigation" xmlns:th="http://www.thymeleaf.org">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <form method="get" th:action="@{/search}">
          <div class="input-group custom-search-form">

            <input type="text"
                   name="query"
                   class="form-control"
                   th:value="${query}"
                   placeholder="Search video..."></input>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>

          </div>
        </form>
        <!-- /input-group -->
      </li>
      <li>
        <a href="/categories">Categories</a>
      </li>
      <li>
        <a href="/category/new">Add category</a>
      </li>
      <li class="split-pane-divider"></li>
      <li th:each="c : ${categories}">
        <a th:href="@{/category/{categoryTitle}(categoryTitle=${c.title})}" th:text="${c.title}"></a>
      </li>
    </ul>
    <div class="chat" style="position: fixed;bottom: 10px; right: 10px; width: 250px; ">

      <div id="chatContainer" class="row">
        <div class="col-md-12">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <input th:type="text" class="form-control" id="chatText"/>
          <input id="username" type="hidden" th:value="${user?.username}"/>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-sm" id="sendText">
            <i class="fa fa-fw fa-send"></i>
          </button>
        </div>
      </div>
    </div>
    <!--/.sidebar-collapse -->
  </div>
</div>
